@import '../variables';

$departure-icon: '../../' + $image-path + 'departure-icon.png';
$arrival-icon:'../../' + $image-path + 'arrival-icon.png';

.flight-icon
{
    background: no-repeat 50%;
    background-size: 32px 21px;
    &_type
    {
        &_departure
        {
            background-image: url($departure-icon);
        }

        &_arrival
        {
            background-image: url($arrival-icon);
        }
    }
}
