@import "../variables";

.table-header {
  background-color: $main-color;
  color: #fff;

  &__cell {
    padding: 10px 3px;
    position: relative;

    text-align: left;

    &_type {
      &_switchers {
        width: 80px;
        padding-left: 5px;
      }

      &_time {
        width: 80px;
      }

      &_flight-number {
        width: 80px;
      }
    }
  }

  @media all and (max-width: 400px) {
    font-size: 14px;

    &__cell {
      &_type {
        &_switchers {
          width: 50px;
        }
      }

      &_time {
        width: 50px;
      }
    }

  }

  @media all and (max-width: 500px) {
    &__cell {
      &_type {
        &_status {
          display: none;
        }
      }
    }
  }

  @media all and (max-width: 600px) {
    &__cell {
      &_type {
        &_aircraft {
          display: none;
        }

        &_flight-number {
          width: 60px;
        }
      }
    }
  }

  @media all and (max-width: 700px) {
    &__cell {
      &_type {
        &_airline-logo {
          display: none;
        }
      }
    }
  }

  @media all and (max-width: 800px) {
    &__cell {
      &_type {
        &_note {
          display: none;
        }
      }
    }
  }

  @media all and (max-width: 900px) {
    &__cell {
      &_type {
        &_airline {
          display: none;
        }
      }
    }
  }
}




