@import "../variables";

.trip-info {
  &__content {
    margin-left: 120px;

    &::before {
      content: '';
      position: absolute;

      display: block;

      top: 50%;
      left: 20px;

      width: 100px;
      height: 100px;

      border: 2px solid $main-color;
      border-radius: 50%;

      transform: translateY(-50%);

      background: no-repeat 50% url(/app/images/arrival-icon.png);
      background-size: contain;
    }
  }

  &__city {
    margin: 0;

    line-height: 1.8;
    font-size: 24px;
    font-weight: bold;

    color: #34495F;
  }

  &__close-button {
    width: $close-button-size;
    height: $close-button-size;

    position: absolute;
    right: 3px;
    top: 3px;

  }
}
