@import "variables";

//
// "Логические" для симуляции скриптов.
//

// При ненажатой кнопке "Вылет"/"Прилёт" сделать стиль кнопки "нажатым"
#departure-checkbox:checked ~ table #departure-label,
#arrival-checkbox:checked ~ table #arrival-label {
  color: $active-link-color;
  border-bottom: 1px dashed $active-link-color;
}

// При ненажатой кнопке "Вылет"/"Прилёт" сделать стиль кнопки "ненажатым"
#departure-checkbox ~ table #departure-label,
#arrival-checkbox ~ table #arrival-label {
  color: white;
}

// При нажатой кнопке "Вылет"/"Прилёт" показать содержимое таблицы
#departure-checkbox:checked ~ table .trip_type_departure,
#arrival-checkbox:checked ~ table .trip_type_arrival {
  display: table;
  opacity: 1;
}

// При ненажатой кнопке "Вылет"/"Прилёт" скрыть содержимое таблицы
#departure-checkbox ~ table .trip_type_departure,
#arrival-checkbox ~ table .trip_type_arrival {
  display: none;
  opacity: 0;
}